body {
    font-family: "Montserrat";
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-Bold";
}

p {
    color: #8f8f8f;
}

/* headings */
.big-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* containers */
.container-fluid {
    padding: 7% 15%;
}

/* sections colors */
.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    padding-right: 400px;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

/* Download Botões */
.botaoDownload {
    margin: 5% 3% 5% 0;
}

/* titel section */
#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}


/* Imagem Titulo */
.tituloImagem {
    width: 15%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* feactures Section */
#features {
    position: relative;
}

.feature-title {
    font-size: 1.5rem;
}

.featuresBox {
    padding: 7%;
}

.icone {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icone:hover {
    color: #ff4c68;
}

/* testemonial section */
#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* .carousel-item {
   
}
 */
/* press section */
#press {
    background-color: #ef8172;

    padding-bottom: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}

/* price section */
#pricing {
    padding: 100px;

}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.margem-alinhar-caixas {
    margin-bottom: 57px;
}

.pricing-colum {
    padding: 3% 2%;
}

/* cta section */


/* footer section */


.icone2 {
    margin: 10px 20px;
    color: black;
}

@media(max-width: 1028px) {
    #title {
        text-align: center;
    }

    .tituloImagem {
        position: static;
        transform: rotate(0);
        width: 30%;
    }
}